*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #4e5f7a;
}
.mainnav{
    background: linear-gradient(240deg,#f5f7fa,#c3cfe2) ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
ul{
    list-style: none;
    display: flex;
    width: 350px;
    position: relative;
}
ul li{
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}
ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
ul li a .icon{
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.5em;
    color: rgb(10, 10, 10);
    transition: .4s;
}
ul li.active a .icon{
    transform: translateY(-33px);
}
ul li a .text{
    position: absolute;
    color: #000;
    font-size: .75em;
    letter-spacing: .05em;
    font-weight: 400;
    transform: translateY(18px);
    opacity: 0;
    transition: .5s;
}
ul li.active a .text{
    opacity: 1;
}
.indicator{
    position: absolute;
    top: -50%;
    
    width: 65px;
    height: 65px;
    background: linear-gradient(240deg,#c3cfe2,#f5f7fa);
    border: 5px solid #4e5f7a;
    

}
ul li:nth-child(1).active~.indicator{
    left: 2px;
    transform: rotate(45deg);
    transition: .5s;
}
ul li:nth-child(2).active~.indicator{
    left: 70px;
    transform: rotate(135deg);
    transition: .5s;
}
ul li:nth-child(3).active~.indicator{
    left: 140px;
    transform: rotate(225deg);
    transition: .5s;
}
ul li:nth-child(4).active~.indicator{
    left: 210px;
    transform: rotate(315deg);
    transition: .5s;
}
ul li:nth-child(5).active~.indicator{
    left: 280px;
    transform: rotate(405deg);
    transition: .5s;
}